[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb.git
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "assets/glTF-Sample-Models"]
	path = assets/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
